@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0;
  }
  html,
  body {
    @apply max-w-5xl mx-auto overflow-x-hidden bg-[#131316];
  }
  a {
    @apply text-inherit no-underline;
  }
}

@layer components {
  .chat {
    overflow-y: scroll;
    scrollbar-width: none; /* Oculta la barra de desplazamiento en Firefox */
    -ms-overflow-style: none;
  }
  .chat::-webkit-scrollbar {
    display: none;
  }
}
